.form__body {
  padding: 0 30px;
  margin: 30px 0 50px;
}

.form__body-fieldset-wrapper {
  .wrapper ();
  .wrapper-fluid ();
}

.form__body p {
  font-size: 14px;
  line-height: 26px;
  margin-bottom: 30px;
}

.form__body-fieldset {
  border: 0;
  border-top: 1px solid #62d1ba;
  margin-bottom: 20px;
  padding: 7px 0;
}

.form__body-fieldset .form__body-fieldset-wrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.form__body-fieldset--phone {
  margin-bottom: 35px;
}

.form__body-fieldset--email {
  margin-bottom: 35px;
}

.form__body-fieldset-title {
  font-size: 16px;
  line-height: 16px;
  color: #63d1bb;
  text-transform: uppercase;
  padding-right: 30px;
  margin-top: -16px;
  background: #ffffff;
  margin-bottom: 25px;
}

.form__body-field {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  font-size: 16px;
  line-height: 18px;
  min-height: 40px;
  position: relative;
  color: #000000;
}

.form__body-field span {
  display: inline-block;
}

.form__body-fieldset-inner {
  width: 100%;
  position: relative;
}

.form__body-fieldset-inner-name {
  margin-bottom: 25px;
}

.form__body-fieldset-inner label {
  display: flex;
  font-size: 16px;
  line-height: 18px;
  color: #000000;
  font-weight: 700;
}

.form__body-fieldset-required {
  display: none;
}

.form__body-fieldset--btn {
  border-top: 0;
  align-items: center;
}

@media @tablet-widths {

  .form__body {
    padding: 0;
  }

  .form__body-fieldset {
    border-top: 0;
    padding-top: 60px;
    padding-bottom: 60px;
  }

  .form__body-fieldset .form__body-fieldset-wrapper {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .form__body-fieldset-title {
    width: 25%;
    background-color: transparent;
    margin: 15px 0 0;
    padding-right: 0;
  }

  .form__body-fieldset-inner {
    width: 75%;
  }

  .form__body-fieldset--gray {
    background-color: @bg-lightgrey;
  }

  .form__body-fieldset--phone {
    padding-bottom: 25px;
    margin-bottom: 0;
  }

  .form__body-fieldset-inner--checkbox {
    display: flex;
    flex-wrap: wrap;
  }

  .form__body-fieldset-inner--checkbox label {
    flex: 1 50%;
    margin: 10px 0;
  }

  .form__body-fieldset--email {
    padding-top: 0;
  }

  .form__body-fieldset-inner-name {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .form__body-fieldset-inner-name label {
    margin-right: 25px;
  }

  .form__body-fieldset-required {
    display: block;
  }

  .form__body-fieldset--btn .form__body-fieldset-wrapper {
    padding-top: 0;
    padding-bottom: 0;
    align-items: center;
    justify-content: space-between;
  }

}

@media @desktop-widths {

  .form__body-fieldset-inner--checkbox label {
    flex: 1 33.3%;
    margin: 10px 0;
  }

  .form__body-fieldset--btn .btn {
    margin-left: 25%;
  }

}
