.page-header {
  border-bottom: 1px solid #ececec;
  z-index: 1;
}

.page-header__wrapper {
  .wrapper ();
  .wrapper-fluid ();

  position: relative;
}

@media @tablet-widths {

  .page-header {
    height: 90px;
    position: relative;
  }

}
